.jumbotron {
    color: white;
    background-image: url("../../assets/profile/portfolioJumbotron.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    position: relative;
    justify-content: center;
}

.bio{
    line-height: 200%;
    position: absolute;
    bottom: 1vh;
    padding: 3vh 3vh;
    opacity: 95%;
}