.jumbotron {
    color: white;
    background-image: url("../../assets/profile/portfolioJumbotron.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    position: relative;
    justify-content: center;
}

.paragraph{
    line-height: 200%;
    position: absolute;
    bottom: 1vh;
    padding: 0;
    font-size: 1.4rem;
}

/* When mobile */
@media screen and (max-width: 984px) {
    .paragraph{
        font-size: 1.4rem;
        top: 40vh;
        padding: 0.5vh;
        position: relative;
    }

    .jumbotron {
        height: 50vh;
    }
}

/* When mobile */
@media screen and (max-width: 600px) {
    .paragraph{
        font-size: 0.90rem;
        top: 37vh;
        padding: 0.5vh;
        position: relative;
    }

    .jumbotron {
        height: 50vh;
    }
}

/* When mobile */
@media screen and (max-width: 300px) {
    .paragraph{
        font-size: 0.75rem;
        top: 37vh;
        padding: 0.5vh;
        position: relative;
    }

    .jumbotron {
        height: 50vh;
    }
}

/* When desktop */
@media screen and (min-width: 985px) {
    .paragraph{
        width: 985px;
        right: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 3vh 3vh;
    }
}